/*********************************/
/* DATA PAGE GENERAL */
/*********************************/

.data-input,
.data-select {
   width: 100%;
   font-size: 1.4rem;
   padding: 0.8rem;
   border: 1px solid #888;
   outline: none;
   color: #888;
}

.data-flex {
   display: flex;
   gap: 3rem;
}

/* ------------------------------ */

main {
   padding-bottom: 9.6rem;
}

.data-page-header {
   justify-content: flex-start;
   border-bottom: 2px solid #6ec296;
   margin-bottom: 4.8rem;
}

.data-nav {
   margin: auto;
}

.data-nav-text {
   font-size: 1.8rem;
   font-weight: 500;
   color: #333;
}

.data-nav-text span {
   color: #6ec296;
}

.data {
   display: grid;
   grid-template-columns: 5fr 4fr;
   column-gap: 6.4rem;
   row-gap: 9.6rem;
}

.hint {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 2.4rem;
}

.hunt a,
.hint span {
   font-size: 1.4rem;
}

.data-flex-column {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-top: 3rem;
}

.data-flex-column span {
   color: #34495e;
   font-size: 2rem;
}

.price-details {
   padding: 2.4rem;
   border-left: 1px solid #333;
}

.price-detail {
   display: flex;
   justify-content: space-between;
}

.price-detail span {
   color: #888;
   font-size: 1.8rem;
}

.program-detail {
   display: flex;
   justify-content: space-between;
}

.program-detail span {
   font-size: 1.8rem;
}

.discpunt-code {
   margin-top: 2.4rem;
}

.discount-code-input {
   flex-grow: 1;
}

.btn-apply {
   background-color: #eee;
   border: 1px solid #888;
}

.price-total {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-top: 3.2rem;
}

.price-total :nth-child(3) span {
   font-size: 3rem;
   color: #000;
}

.month-total {
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   padding: 2.4rem 0;
}

.btn-continue {
   width: fit-content;
   align-self: flex-end;
}

@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {

   .data-page-header {
      flex-direction: column;
      height: 16rem;
      padding: 3.2rem;
      align-items: flex-start;
      gap: 1.6rem;
   }

   .data-flex {
      flex-direction: column;
   }

   .hint {
      display: contents;
   }

   .program-detail {
      flex-direction: column;
      gap: 0.6rem;
      margin-bottom: 0.8rem;
   }

   .total-price-detail {
      flex-direction: column;
      gap: 0.6rem;
   }
}

@media (max-width: 428px) {

   main {
      padding-bottom: 4.8rem;
   }

   .data {
      grid-template-columns: 1fr;
      row-gap: 4.8rem;
   }

   .program-detail {
      flex-direction: row;
   }

   .price-details {
      border-left: 0;
      border-top: 1px solid #333;
   }

   .total-price-detail {
      flex-direction: row;
   }

   .btn-continue {
      align-self: center;
   }
}


