.nav-faq {
   border-bottom: 2px solid #34495e;
}

.section-faq {
   padding: 9.6rem 0;
}

.faqs {
   display: grid;
   grid-template-columns: 1fr 3fr;
   column-gap: 3.6rem;
   row-gap: 3.6rem;
}

.side-tabs {
   border: 1px solid #888;
   border-radius: 9px;
   padding: 3.2rem 1.6rem;
   margin-top: 2rem;
   height: fit-content;
}

.tabs {
   display: flex;
   flex-direction: column;
   gap: 2.4rem;
}

.tab {
   font-size: 2rem;
   font-weight: 500;
   width: fit-content;
   padding: 0.8rem 0;
   color: #888;
   transition: all 0.3s;
   cursor: pointer;
   white-space: nowrap;
}

.tab.tab-active {
   border-bottom: 2px solid #7AD7A7;
   color: #34495e;
   transition: all 0.3s;
}

.faq-container {
   width: 100%;
   max-width: 80rem;
   margin: 0 auto;
   display: none;
}

.faq-container.faq-show {
   display: block;
}

.faq {
   background-color: transparent;
   border: 1px solid #888;
   border-radius: 9px;
   margin: 2rem 0;
   padding: 3.2rem;
   position: relative;
   overflow: hidden;
   transition: 0.3s ease;
}

.faq-active {
   background-color: #f2fbf6;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 10%);
}

.faq-heading {
   margin: 0 4.8rem 1.6rem 0;
   text-align: start;
}

.faq-answar {
   line-height: 1.6;
   font-size: 1.6rem;
   letter-spacing: 0.75px;
   color: #888;
   display: none;
   margin-right: 4.8rem;
}

.faq-active .faq-answar {
   display: block;
}

.faq-button {
   background-color: transparent;
   border: 0;
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   padding: 0;
   position: absolute;
   top: 3.2rem;
   right: 3.2rem;
   height: 3.2rem;
   width: 3.2rem;
}

.faq-button:focus {
   outline: 0;
}

.faq-button .fa-times {
   display: none;
}

.faq-active .faq-button .fa-times {
   display: block;
   color: #fff;
}

.faq-active .faq-button .fa-chevron-down {
   display: none;
}

.faq-active .faq-button {
   background-color: #aaa;
}

.chatbubble-icon {
   position: absolute;
   font-size: 8rem;
   z-index: 0;
   opacity: 32%;
   display: none;
}

.faq-active .chatbubble-icon {
   display: block;
}

.chatbubble-icon:nth-of-type(1) {
   color: #6ec296;
   top: 2.4rem;
   left: 2.4rem;
}

.chatbubble-icon:nth-of-type(2) {
   color: #34495e;
   top: 0rem;
   left: -2rem;
   transform: rotate(270deg);
}

@media (max-width: 768px) {
   .tabs-heading {
      text-align: center;
   }

   .faqs {
      grid-template-columns: 1fr;
   }

   .side-tabs {
      margin: auto;
   }

   .tabs {
      align-items: center;
      flex-direction: row;
   }
}

@media (max-width: 428px) {
   .faq {
      padding: 3.2rem 1.6rem;
   }

   .tabs {
      align-items: center;
      flex-direction: column;
   }
}