.plan-selected-page-heading {
   text-align: center;
   margin-bottom: 1.6rem;
}

/*********************************/
/* PLAN-SELECTED SECTION */
/*********************************/

.section-plan-selected {
   padding: 4.8rem 0 9.6rem;
   background-color: #f2fbf6;
}

.plan-selected {
   position: relative;
   padding-bottom: 4.8rem;
}

.programs-plans {
   padding: 3.2rem 1.6rem;
   background-color: #fff;
   border-radius: 11px;
   position: relative;
}

.programs-plans::before {
   content: "";
   width: 2px;
   height: 75%;
   background-color: #888;
   position: absolute;
   left: 50%;
   top: 4.8rem;
   transform: translateX(-50%);
}

.programs {
   padding: 4.8rem 1.6rem;
}

.programs-heading {
   display: block;
   text-align: center;
   font-size: 2.8rem;
   font-weight: 500;
   color: #34495e;
   margin-bottom: 4.8rem;
}

.program-box {
   width: 100%;
}

.hidden-box {
   display: none;
}

.label-radio {
   display: flex;
   width: 100%;
   height: 6.4rem;
   min-height: 6.4rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
   padding: 20px;
   border: 3px solid #e4f7ed;
   border-radius: 9px;
   cursor: pointer;
   transition: all 0.3s ease-in;
}

.label-radio:hover {
   background-color: #e4f7ed;
   border-color: #7AD7A7;
}

.program {
   font-size: 2rem;
   font-weight: 600;
   letter-spacing: 0.75px;
}

input[type=radio]:checked + .label-radio {
   border-color: #7AD7A7;
}

.programs-text {
   font-size: 1.6rem;
   color: #767676;
   margin-bottom: 3.6rem;
}

.plan-price {
   font-size: 6.2rem;
   font-weight: 600;
   color: #333;
   text-align: center;
}

.plan-price-box strong {
   font-size: 3rem;
   font-weight: 500;
}

.plan-price-description {
   font-size: 1.6rem;
   text-align: center;
   color: #888;
}

.btn.btn-select-plan {
   display: block;
   margin: auto;
   width: fit-content;
}

/*********************************/
/* PROGRAM FEATURED SECTION */
/*********************************/

.program-featured-section {
   padding: 9.6rem 0;
}

.program-featured-text {
   color: #6f6f6f;
   font-size: 1.8rem;
   letter-spacing: 0.75px;
   line-height: 1.6;
   margin-bottom: 9.6rem;
}

.program-features {
   justify-items: center;
}

.program-feature {
   width: 24rem;
   height: 24rem;
   padding: 1.6rem;
   background-color: #e4f7ed;
   border-radius: 50%;
   position: relative;
   display: flex;
   align-items: center;
}

.program-feature p {
   font-size: 1.8rem;
   font-weight: 600;
   text-align: center;
   line-height: 1.6;
   color: #333;
   letter-spacing: -0.5px;
}


.program-feature-img  {
   width: 9.6rem;
   padding: 1.8rem;
   background-color: #fff;
   border-radius: 50%;
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   top: -20%;
}

.program-feature-img img {
   width: 100%;
   opacity: 60%;
}

/*********************************/
/* MEDIA QUERIES */
/*********************************/

@media (max-width: 1024px) {
   .program-features {
      grid-template-columns: repeat(2, 1fr);
   }
}  

@media (max-width: 768px) {
   .grid-programs {
      grid-template-columns: 1fr;
      row-gap: 3.2rem;
   }

   .programs-plans::before {
      display: none;
   }

   .programs {
      padding: 2.4rem 1.6rem;
   }
}

@media (max-width: 428px) {
   .program-features {
      grid-template-columns: 1fr;
      row-gap: 9.6rem;
   }
}

