.plan-selected-page-heading {
   text-align: center;
   margin-bottom: 1.6rem;
}

/*********************************/
/* VERTICAL SLIDER SECTION */
/*********************************/

.section-vertical-slider {
   height: 100vh;
   width: 100vw;
}

.slider-container {
   position: relative;
   overflow: hidden;
   height: 100%;
   width: 100%;
}
 
.left-slide {
   height: 100%;
   width: 30%;
   position: absolute;
   top: 0;
   left: 0;
   transition: transform 0.5s ease-in-out;
}
 
.left-bg {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #34495e;
}


 
.left-slide h1 {
   font-size: 4.8rem;
   margin-bottom: 8rem;
}
 
.right-slide {
   height: 100%;
   position: absolute;
   top: 0;
   left: 30%;
   width: 70%;
   transition: transform 0.5s ease-in-out;
}
 
.right-bg {
   opacity: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 4.8rem;
}

.right-slide .right-description {
   font-size: 2.4rem;
   line-height: 1.6;
   opacity: 100%;
   margin-left: 2.4rem;
   color: #000;
}

.nutrition-percentage {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   color: #e67e22;
   font-size: 2rem;
}

.nutrition-percentage li {
   list-style: none;
}
 
.up-button,
.down-button {
border: none;
color: #34495e;
cursor: pointer;
font-size: 2.4rem;
padding: 2rem 1.6rem;
}

.up-button {
   background-color: #fff;
}

.down-button {
   background-color: #e67e22;
}
 
.action-buttons button:hover {
   color: #fff;
}

.action-buttons .up-button:hover {
   color: #333;
}
 
.action-buttons button {
   position: absolute;
   left: 30%;
   top: 50%;
   z-index: 5;
}
 
.down-button {
transform: translateX(-100%);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
 
.up-button {
transform: translateY(-100%);
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

/*********************************/
/* PLAN-SELECTED SECTION */
/*********************************/

.section-plan-selected {
   padding: 4.8rem 0 9.6rem;
   background-color: #f2fbf6;
}

.plan-selected {
   position: relative;
   padding-bottom: 4.8rem;
}

.programs-plans {
   padding: 3.2rem 1.6rem;
   background-color: #fff;
   border-radius: 11px;
   position: relative;
}

.programs-plans::before {
   content: "";
   width: 2px;
   height: 75%;
   background-color: #888;
   position: absolute;
   left: 50%;
   top: 4.8rem;
   transform: translateX(-50%);
}

.programs {
   padding: 4.8rem 1.6rem;
}

.programs-heading {
   display: block;
   text-align: center;
   font-size: 2.8rem;
   font-weight: 500;
   color: #34495e;
   margin-bottom: 4.8rem;
}

.program-box {
   width: 100%;
}

.hidden-box {
   display: none;
}

.label-radio {
   display: flex;
   width: 100%;
   height: 6.4rem;
   min-height: 6.4rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
   padding: 20px;
   border: 3px solid #e4f7ed;
   border-radius: 9px;
   cursor: pointer;
   transition: all 0.3s ease-in;
}

.label-radio:hover {
   background-color: #e4f7ed;
   border-color: #7AD7A7;
}

.program {
   font-size: 2rem;
   font-weight: 600;
   letter-spacing: 0.75px;
}

input[type=radio]:checked + .label-radio {
   border-color: #7AD7A7;
}

.programs-text {
   font-size: 1.6rem;
   color: #767676;
   margin-bottom: 3.6rem;
}

.plan-price {
   font-size: 6.2rem;
   font-weight: 600;
   color: #333;
   text-align: center;
}

.plan-price-box strong {
   font-size: 3rem;
   font-weight: 500;
}

.plan-price-description {
   font-size: 1.6rem;
   text-align: center;
   color: #888;
}

.btn.btn-select-plan {
   display: block;
   margin: auto;
   width: fit-content;
}

/*********************************/
/* PROGRAM FEATURED SECTION */
/*********************************/

.program-featured-section {
   padding: 9.6rem 0 16rem;
}

.program-featured-text {
   color: #6f6f6f;
   font-size: 1.8rem;
   letter-spacing: 0.75px;
   line-height: 1.6;
   margin-bottom: 9.6rem;
}

.program-features {
   justify-items: center;
}

.program-feature {
   width: 24rem;
   height: 24rem;
   padding: 1.6rem;
   background-color: #e4f7ed;
   border-radius: 50%;
   position: relative;
   display: flex;
   align-items: center;
   box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
   opacity: 0;
   transition: 0.5s ease-in;
}

.show {
   opacity: 100%;
   transition: 0.5s ease-in;
}

.program-feature p {
   font-size: 1.8rem;
   font-weight: 600;
   text-align: center;
   line-height: 1.6;
   color: #333;
   letter-spacing: -0.5px;
}


.program-feature-img  {
   width: 9.6rem;
   padding: 1.8rem;
   background-color: #fff;
   border-radius: 50%;
   position: absolute;
   margin: auto;
   left: 50%;
   transform: translateX(-50%);
   top: -20%;
}

.program-feature-img img {
   width: 100%;
   opacity: 60%;
}

.program-feature::before {
   position: absolute;
   content: "";
   border-radius: 50%;
   width: 80%;
   height: 1.2rem;
   margin: 0 0.8rem;
   transform: translate(-50%, -100%);
   left: 50%;
   bottom: -40%;
   background-image: radial-gradient(ellipse, #bcbcbc, #fff);;

}

/*********************************/
/* MEDIA QUERIES */
/*********************************/

@media (max-width: 1024px) {
   .program-features {
      grid-template-columns: repeat(2, 1fr);
   }
}  

@media (max-width: 768px) {
   .grid-programs {
      grid-template-columns: 1fr;
      row-gap: 3.2rem;
   }

   .programs-plans::before {
      display: none;
   }

   .programs {
      padding: 2.4rem 1.6rem;
   }
}

@media (max-width: 428px) {
   .left-slide h1 {
      transform: rotate(270deg);
      margin-bottom: 16rem;
   }

   .nutrition-percentage {
      display: none;
   }
   
   .program-features {
      grid-template-columns: 1fr;
      row-gap: 16rem;
   }
}

