.on-the-menu {
   border-bottom: 2px solid #34495e;
}

/*********************************/
/* BANNER SECTION */
/*********************************/
.section-banner {
   padding-bottom: 9.6rem;
}

.banner {
   margin: auto;
   position: relative;
}

.banner-img {
   width: 100%;
   height: 60rem;
   opacity: 90%;
}

.banner-text {
   width: fit-content;
   height: fit-content;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   text-shadow: 0 0.6rem rgb(0 0 0 / 6%);
}

.banner-heading {
   color: #d7f3e5;
   font-size: 8.6rem;
   font-weight: 500;
   
}

.banner-caption {
   color: #fff;
   font-size: 2.4rem;
   font-weight: 600;
   text-align: center;
}

.search {
   width: auto;
   max-width: 500px;
   position: absolute;
   right: 0;
   bottom: 20%;
   left: 0;
   margin-left: auto;
   margin-right: auto;
}

.search-bar {
   width: 100%;
   background-color: rgba(255, 255, 255, 0.8);
   display: flex;
   align-items: center;
   border-radius: 60px;
   padding: 1.2rem 2.4rem;
}

.search-bar input {
   background-color: transparent;
   outline: none;
   border: 0;
   flex: 1;
   padding: 1.6rem;
   font-size: 2rem;
   color: #6ec296;
}

.search-bar button {
   border: none;
   border-radius: 50%;
   width: 6rem;
   height: 6rem;
   background-color: #e4f7ed;
   cursor: pointer;
}

.search-bar img {
   width: 50%;
   height: 50%;
}

/* DATE SELECTION  */

.flex-box {
   display: flex;
   gap: 3rem;
   justify-content: center;
}

.date-box {
   width: fit-content;
}

.hidden-box {
   display: none;
}

.label-radio {
   display: block;
   width: 100%;
   height: 8rem;
   text-align: center;
   padding: 2rem;
   border: 3px solid #333;
   border-bottom: 0;
   border-top-left-radius: 11px; 
   border-top-right-radius: 11px;
   cursor: pointer;
   z-index: 1;
}

.label-radio:hover {
   background-color: #e4f7ed;
}

.date {
   font-size: 2.4rem;
   font-weight: 600;
   letter-spacing: 0.75px;
}

input[type=radio]:checked + .label-radio {
   box-shadow: 3px 0px 12px -4px rgba(0, 0, 0, 0.35);
   transform: translateY(3px);
   background-color: #e4f7ed;
}

/*********************************/
/* MEAL FEATURE SECTION */
/*********************************/

.section-meal-feature {
   padding-bottom: 9.6rem;
}

.meal-feature-texts {
   display: flex;
   gap: 4.8rem;
   margin-left: 3.2rem;
}

.meal-feature-text {
   font-size: 2rem;
   font-weight: 500;
   padding: 0.6rem;
   border-radius: 9px;
   cursor: pointer;
   transition: 0.3s ease;
}

.meal-feature-text-active {
   transform: scale(1.8);
   transition: 0.5s ease;
   color: #34495e;
   background-color: #fae5d3;
}

.meal-feature-container {
   position: relative;
}

.slider-container {
   max-width: 1120px;
   width: 100%;
   padding: 40px 0;
}

.slide-content {
   padding: 45px 20px;
   margin: 0 40px;
}

.feature-meal {
   width: 320px;
   background-color: #fff;
}

.swiper-btn {
   color: #34495e;
   transition: color 0.3s ease;
   z-index: 5;
}

.swiper-btn:hover {
   color: #6ec296;
}

.swiper-pagination-bullet {
   background-color: #888;
   opacity: 1;
}

.swiper-pagination-bullet-active {
   background-color: #7AD7A7;
}

/*********************************/
/* MEAL KIT SECTION */
/*********************************/

.section-meal-kit {
   padding: 9.6rem 0;
   border-top: 3px solid #333;
}

.recipe-heading {
   margin-bottom: 6.4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.recipe-heading-text {
   color: #333;
   font-size: 4.4rem;
   font-weight: 700;
   text-align: start;
}

select {
   appearance: none;
   outline: 0;
   border: 0;
   box-shadow: none;
   flex: 1;
   padding: 0 1rem;
   color: #fff;
   background-color: #34495e;
   background-image: none;
   cursor: pointer;
}

select::-ms-expand {
   display: none;
}

.select {
   position: relative;
   display: flex;
   width: 20rem;
   height: 3rem;
   border-radius: .25rem;
   overflow: hidden;
}

.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 1rem;
   background-color: #333;
   transition: .25s all ease;
   pointer-events: none;
}

.select:hover::after {
   color: #7AD7A7;
}

.page-number {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3.2rem;
}

.page-number-link:link,
.page-number-link:visited {
   display: inline-block;
   text-decoration: none;
   color: #333;
   font-weight: 500;
   font-size: 1.8rem;
   transition: all 0.3s;
}

.page-number-link:hover,
.page-number-link:active {
   color: #6ec296;
}

/*********************************/
/* SECTION DISCOUNT */
/*********************************/

.section-discount {
   padding-bottom: 9.6rem;
}

.ad-sm {
   width: 80%;
   padding: 1.6rem 1.6rem 3.2rem;
   border: 1px solid #51cf66;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4.8rem;
   position: relative;
}

.ad-discription {
   font-size: 3rem;
}

.checked-discription {
   width: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.2rem;
}

.checked-discription img {
   width: 2.4rem;
   height: 2.4rem;
}

.checked-discription p {
   font-size: 1.8rem;
}

.discount-label {
   position: relative;
}

.discount-label::before {
   content: "$FREE";
   text-transform: uppercase;
   font-size: 3.6rem;
   font-weight: 700;
   color: #333;
   position: absolute;
   left: 10%;
   top: 40%;
}

.discount-label img {
   width: 20rem;
   height: 10rem;
}

.discount-label-box p {
   text-align: center;
}

.view-plans-button {
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%,50%);
   margin: 0 auto;
}

/*********************************/
/* CTA SECTION */
/*********************************/

.section-cta {
   padding-bottom: 12.8rem;
}

.cta {
   display: grid;
   grid-template-columns: 2fr 1fr;
   background-color: #7AD7A7;
   box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
   border-radius: 11px;
   background-image: linear-gradient(to right bottom, #95dfb9, #7AD7A7);
   overflow: hidden;
}

.cta-text-box {
   padding: 4.8rem 6.4rem 6.4rem;
   color: #254032;
}

.cta .heading-secondary {
   color: inherit;
   margin-bottom: 3.2rem;
}

.cta-text {
   font-size: 1.8rem;
   line-height: 1.6;
   margin-bottom: 4.8rem;
}

.cta-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 3.2rem;
   row-gap: 2.4rem;
}

.cta-form label {
   display: block;
   font-size: 1.6rem;
   font-weight: 500;
   margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
   width: 100%;
   padding: 1.2rem;
   font-size: 1.8rem;
   font-family: inherit;
   color: inherit;
   border: none;
   background-color: #f2fbf6;
   border-radius: 9px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
   color: #aaa;
}

.cta *:focus {
   outline: none;
   box-shadow: 0 0 0 0.8rem hsla(147, 53%, 97%, 0.5);
}

.cta-img-box {
   background-image: linear-gradient(to right bottom, hsla(149, 54%, 73%, 0.3), hsla(149, 54%, 66%, 0.3)), 
   url(../content_mine/img/eating02.jpg);
   background-size: cover;
   background-position: center;
}

/*********************************/
/* MEDIA QUERIES */
/*********************************/

/* MEDEA: 768px */

@media (max-width: 768px) {
   .banner-text {
      text-align: center;
   }

   .date-box:nth-of-type(4),
   .date-box:nth-of-type(5),
   .date-box:nth-of-type(6) {
      display: none;
   }

   .ad-sm {
      flex-direction: column;
      text-align: center;
      gap: 2.4rem;
   }

   .discount-label-box {
      margin-bottom: 3rem;
   }
}
/* MEDEA: 428px */

@media (max-width: 428px) {
   .container-meal {
      padding: 0 9.6rem;
   }

   .cta {
      grid-template-columns: 1fr;
   }

   .cta-text-box {
      padding: 3.2rem;
   }

   .cta-form {
      grid-template-columns: 1fr;
   }

   .cta-img-box {
      height: 32rem;
      grid-row: 1 / 2;
   }
}