/*********************************/
/* HEADER */
/*********************************/

.header-member-page {
   background-color: #fff;
}

/*********************************/
/* MEMBER SETION */
/*********************************/

.section-member {
   background-color: #f2fbf6;
   padding: 4.8rem 0 9.6rem 0;
}

.sign-in-page {
   align-items: center;
   justify-items: center;
}

.sign-in-box {
   background-color: #fff;
   width: 75%;
   margin: 4.8rem 0;
   padding: 3.2rem;
   box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
   border-radius: 11px;
}

.heading-sign {
   display: flex;
   justify-content: space-between;
   padding: 0 1.2rem;
}

.sign-text {
   text-align: center;
   font-size: 3.6rem;
   font-weight: 500;
   color: #aaa;
   cursor: pointer;
}

.sign-active {
   color: #555;
   font-weight: 500;
   transform: scale(1.2);
   box-shadow: 0 6.4rem 6.4rem rgba(0, 0, 0, 10%);
}

.data-input {
   display: none;
   flex-direction: column;
   padding: 2.4rem 1.2rem;
   border-radius: 11px;
}

.data-show {
   display: flex;
}

.form-controller {
   position: relative;
   margin: 2.8rem 0;
}

.form-controller input {
   width: 100%;
   padding: 1.4rem 0;
   background-color: transparent;
   border: 0;
   border-bottom: 2px solid #34495e;
   display: block;
   font-size: 1.8rem;
   color: #34495e;
}

.form-controller input:focus,
.form-controller input:valid {
   outline: 0;
}

.form-controller label {
   position: absolute;
   left: 0;
   top: 1.8rem;
   font-size: 1.8rem;
   pointer-events: none;
   color: #34495e;
}

.form-controller label span {
   display: inline-block;
   font-size: 1.8rem;
   min-width: 0.4rem;
   transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-controller input:focus + label span,
.form-controller input:valid + label span {
   color: #7fd7a7;
   transform: translateY(-3rem);
}

.forget-password {
   font-size: 1.4rem;
   text-align: right;
   margin-bottom: 3.2rem;
}

.log-in-text {
   align-self: center;
   margin-bottom: 3.2rem;
}

.sign-up-text {
   margin: 3.2rem 0 0;
   align-self: center;
}

.divider {
   display: flex;
   align-items: center;
}

.line {
   width: 100%;
   height: 0.1rem;
   background-color: #000;
   margin: 0 1.2rem;
}

.sign-in-app {
   display: flex;
   gap: 3.2rem;
   justify-content: center;
   align-items: center;
   margin: 2rem 0;
   padding: 1.2rem 0;
   border: 1px solid #3187D7;
   border-radius: 9px;
}

.sign-in-app img {
   width: 3.2rem;
   margin-left: 1.6rem;
}

.sign-in-app p {
   color: #3187D7;
   font-size: 2rem;
   width: 80%;
}

.hint-text {
   text-align: center;
   font-size: 1.4rem;
}

.app-download-img {
   width: 100%;
   max-width: 20rem;
   grid-column: 1 / span 2;
}

.app-download-store {
   justify-self: center;
}

.app-download-store img {
   height: 4.4rem;
}

@media (max-width: 768px) {
   .sign-in-page {
      width: 100%;
      max-width: 70rem;
      grid-template-columns: 1fr;
   }
}

@media (max-width: 428px) {
   
}